<%= render "shared/second-header"%>

<%= form_with model: @quiz, url: quizzes_path, class: 'quiz-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      正解です！！
    </h1>
  </div>


  <div class="quiz-group">
    <div class="quiz-flame">
      <%= image_tag "congratulation.png", class:"quiz-pict" %>
    </div>
  </div>

  <div class="quiz-group">
    <div class='quiz-text-wrap'>
      <label class="quiz-text">順位は後日発表しますのでお楽しみに！！</label>
    </div>
  </div>

  <div class='quiz-btn'>
    <%= link_to 'トップページへ戻る', root_path,  class:"quiz-red-btn" %>
  </div>

</div>

<% end %>
<%= render "shared/second-footer"%>