<%= render "shared/header"%>

<div class='transaction-contents'>
  <div class='menu-nakama-contents'>
    <h2 class='title'>
      たけラボのなかまたち
    </h2>

    <ul class='menu-nakama-lists'>
      <li class='list'>
        <%= image_tag "takelabo-member01.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Tatsuki Inui
        </h3>
        <p class='menu-nakama-list-description'>
          　動物好きがそのまま人間性として滲み出ており、team-aの癒し的存在。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-member02.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Ryuji Sato
        </h3>
        <p class='menu-nakama-list-description'>
          　おおらかで存在感も抜群！team-aのムードメーカーして貴重な存在。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-member03.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Hajime Nagano
        </h3>
        <p class='menu-nakama-list-description'>
          「自分いっちゃっていいっすか」と率先して行う姿はかっこいい！team-aの元気印。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-member04.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Eishin Niimi
        </h3>
        <p class='menu-nakama-list-description'>
          　team-aの頭脳派！時折見せるチャーミングな笑顔がさらに魅力的。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-member05.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Yuuki Fujiwara
        </h3>
        <p class='menu-nakama-list-description'>
          　ユーモラスな発言は、周りの人が傾聴する素晴らしい技術！team-aになくてはならない存在。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-member06.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Kumiko Makita
        </h3>
        <p class='menu-nakama-list-description'>
          　team-aの紅一点。アウトプットの時間での説明力は天下一品！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-member07.png", class:"list-pict" %>
        <h3 class='menu-nakama-list-text'>
          Lifecoach Hayashi
        </h3>
        <p class='menu-nakama-list-description'>
          　team-aを支えてくれた最強のライフコーチ！教育についても刺激的な存在でした。
        </p>
      </li>
    </ul>

  </div>
</div>
<%= render "shared/footer"%>