<%= render "shared/second-header"%>

<%= form_with model: @donation, url: donation_path, class: 'registration-main', local: true do |f| %>

  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        たけラボクラファ編集ページ
      </h1>
    </div>

     <%# <%= render 'shared/error_messages', model: f.object %>
  
    <%# クラウドファンディング件名 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">クラウドファンディングネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :donation_name, class:"input-default", id:"item_info", placeholder:"例) youtubeスポンサー権利", maxlength:"30" %>
    </div>
    <%# /クラウドファンディング件名 %>
    
    <%# クラウドファンディング画像 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">クラウドファンディング紹介画像</label>
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"donation-image" %>
      </div>
    </div>
    <%# /クラウドファンディング画像 %>

    <%# 説明 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">説明</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 200文字まで）例）youtube動画の最後に記載するスポンサーとして名前を載せさせていただきます。" ,rows:"5" ,maxlength:"100" %>
    </div>
    
    <%# /説明 %>

    <%# 販売価格 %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <span>販売価格<br>(¥1000〜100,000)</span>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <%# /販売価格 %>

    <%# 注意書き %>
    <div class="form-group">
      <div class='form-text-wrap'>
        出品前の確認事項<br>
        ・禁止されている行為の確認。<br>
        ・個人・他企業などへ悪影響が考えられる宣伝・文章になっていないか。
      </div>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="form-group">
      <div class='sell-btn-contents'>
        <%= f.submit "変更する" ,class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>
    <%# /下部ボタン %>
  </div>
<% end %>

<%= render "shared/second-footer"%>