<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「たけラボ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      創造の、フィールドへ。
    </h2>
    <p class='service-explain'>
      たけラボのテーマは『共創』。研究所ですが、概念を脱ぎ捨てた『たけラボ』は、知恵と技術を”気軽”に共有できる新しい教育の場です。
     研究者やマーケッター、クリエーター、地域の人々や生徒・学生たちが集い、いろいろなところから持ち込まれたアイディア・試作品、いろんな分野の耳寄りな情報やアイデアが並び、刺激的でエネルギーあふれる場所。
     ここから次のプロジェクトが起きて、思いもよらない何かをカタチにして生み出していき、一緒に楽しい時間を過ごしましょう。
    </p>

  </div>
  <%# /画面上部の「たけラボ」帯部分  %>

  <%# コンセプト %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      たけラボってこんな場所
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "takelabo-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-green-text'>出会う、集まる</span>
        </h3>
        <p class='reason-list-description'>
          　社内外からさまざまな人たちが集まり、活発なコミュニケーションがわきおこる。
        </p>
      </li>
      <li class='list'>
        
        <span class='reason-list-number'>2</span>
        <%= image_tag "takelabo-intro02.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-green-text'>見つける、話す</span>
        </h3>
        <p class='reason-list-description'>
          　ワイワイガヤガヤ、自由な議論が交わされ、イノベーションが生まれる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "takelabo-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-green-text'>生み出す、育てる</span>
        </h3>
        <p class='reason-list-description'>
          　たけラボにいくと何かがある、夢がある、何か生まれる、発想できる、ワクワクする、また来たくなる空気がある。
        </p>
      </li>
    </ul>
  </div>
  <%# /コンセプト %>

  <%# 画面中央の「アプリダウンロード案内」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      ワクワクする「場」へようこそ
    </h2>
    <p class='ad-explain'>
      ここでは、さまざまな人たちが集まり、
    </p>
    <p class='ad-explain'>
      ワイワイガヤガヤ自由な発想が生まれます。
    </p>
    <p class='ad-explain'>
      予想もしないイノベーションを体験しましょう！
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「アプリダウンロード案内」帯部分 %>

  <%# たけラボの場 %>
  <div class='feature-contents'>
    <h2 class='title'>
      たけラボ研究内容
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          自然体験と<br>プログラミング教育
        </h3>
        <p class='feature-list-description'>
          　感覚と想像力を養う”自然体験”と時代の流れが激しい未来に備えた”最新テクノロジーの教育”。この２つの
          バランスを理想的なカタチで提供していくのが今の教育に必要なものだと確信しています。
          たけラボはこの研究を惜しみません！

        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          オープンラボ
        </h3>
        <p class='feature-list-description'>
          　たけラボでは、「こんなことしたい！」を重視。気軽に提案して
          違う角度からの意見やアドバイスを取り入れて失敗を恐れず前進。
          アイデアは、まず”カタチ”にしよう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          たけラボクイズ大会
        </h3>
        <p class='feature-list-description'>
          　パソコン・スマホひとつで、みんなでワイワイクイズ大会！早く答えた上位3名
          （敬称略）は、表彰いたします。
        </p>
      </li>
    </ul>
  </div>
  <%# /たけラボの場 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "商品名" %>
          </h3>
          <div class='item-price'>
            <span><%= "販売価格" %>円<br><%= '配送料負担' %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>

<%= link_to('#', class: 'asobi-btn') do %>
  <span class='asobi-btn-text'>なかまになる</span>
  <%= image_tag 'icon_take.png' , size: '185x50' ,class: "asobi-btn-icon" %>
<% end %>
<%= render "shared/footer" %>